.dropdown {
  position: relative;
  display: inline-block;
  min-width: 10em;
}

.dropdown-horizontal {

}

.dropdown-selected {
  display: inline-flex;
  padding: 10px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 100;
  overflow-y: auto;

  .dropdown-horizontal & ul {
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    padding: .5em 0;
    list-style: none;
  }
}

.dropdown-item {
  background: #0003;
  color: #fff;
  cursor: pointer;

  .dropdown-vertical & {
    padding: .5em 1em;
  }
}

.dropdown-item:hover {
  background-color: #0006;
}
