.story-types {
    position: fixed;
    display: flex;
    width: 100%;
    top: 60px;
    height: 15vw;
    justify-content: space-around;
    background: linear-gradient(to bottom, #cccf, #cccc 60%, #ccc0 100%);
    z-index: 2;
    transform: translateY(-100%);
    animation: slide-down 1s ease-out 1.5s forwards;

    @media screen and (min-width: 1024px) {
        top: 80px;
        height: 8vw;
    }

    li {
        flex: 1 1 0;
        text-align: center;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.story-type-button {
    position: relative;
    display: inline-flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 15vw;
    min-width: 10vw;

    @media screen and (min-width: 1024px) {
        height: 8vw;
    }

    @media screen and (min-width: 2000px) {
        height: 110px;
    }

    .active &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        border-style: solid;
        border-width: 1.3vw .8vw 0 .8vw;
        @media screen and (min-width: 2000px) {
            border-width: 25px 15px 0 15px;
        }
        border-color: #fff transparent transparent transparent;
    }
}

.story-type-icon {
    position: absolute;
    height: 50%;
    filter: invert(1);
    z-index: -1;
    opacity: 0.6;

    .active & {
        transform: scale(2);
        opacity: 0.4;
        transition: transform 0.08s ease-out,
        opacity 0.15s ease-out 0.03s;

        @media screen and (min-width: 1024px) {
            opacity: 0.1;
        }
    }
}

.story-type-name {
    color: #fff;
    font-size: 2.1vw;
    white-space: nowrap;
    opacity: 0;
    text-shadow: 0 -5px 25px #000,
    0 -5px 25px #000;

    @media screen and (min-width: 2000px) {
        font-size: 34px;
    }

    .active & {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 6vw;
        opacity: 1;

        @media screen and (min-width: 1024px) {
            position: static;
            font-size: 2.1vw;
        }
    }
}

.story-menu {
    display: flex;
    justify-content: space-between;
}

.cross-fade-leave {
    opacity: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000f;
    z-index: 5;
}
.cross-fade-leave.cross-fade-leave-active {
    opacity: 0;
    transition: opacity 500ms, background-color 500ms;
}

.cross-fade-enter {
    opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.cross-fade-height {
    transition: height 0.5s ease-in-out;
}

.stories {
    position: relative;
    padding-top: calc(60px + 15vw);
    font-size: 4vw;
    background: linear-gradient(to right, #ccc 60%, #ccc0);

    @media screen and (min-width: 2000px) {
        font-size: 27px;
    }

    &::before {
        content: '';
        position: absolute;
        left: 5vw;
        width: 20px;
        height: 20px;
        background: #aaa;
    }

    &::after {
        content: '';
        position: absolute;
        top: 22vw;
        bottom: 4vw;
        left: 5.7vw;
        width: 4px;
        background: #aaa;
    }

    li {
        position: relative;
        margin-left: 5.2vw;
        margin-bottom: 1.85vw;
        line-height: 9vw;
        z-index: 1;

        @media screen and (min-width: 2000px) {
            margin-bottom: 38px;
            line-height: 100px;
        }

        &::before {
            content: '';
            position: absolute;
            top: calc(50% - 8px);
            left: 0;
            width: 13px;
            height: 13px;
            border: 4px solid #000;
            background: #ccc;
        }

        &::after {
            content: '';
            position: absolute;
            top: calc(50% - 4px);
            left: 13px;
            height: 4px;
            width: 50px;
            background: linear-gradient(to right, #000, transparent 30px);
        }

        &.active {
            font-size: 1.9vw;
            @media screen and (min-width: 2000px) {
                font-size: 38px;
            }
            transition: font-size 0.2s;

            &::before {
                border-width: 13px;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                left: -10px;
                top: calc(50% - 20px);
            }

            &::after {
                width: 0;
                animation: grow-right 0.3s 0.3s normal forwards;
            }
        }

        &:active {
            opacity: 0.5;
        }
    }

    .story-button {
        margin-left: 40px;
    }
}

.operations {
    position: relative;
    flex-basis: auto;
    padding: 15vw .5em 0;
    background: linear-gradient(to left, #ccc 70%, #ccc0);

    @media (min-width: 1024px) {
        padding-left: 7em;
    }

    .op {
        display: flex;
    }
    .after-op {
        margin-top: -2.1em;
        margin-bottom: 1em;
    }
    a {
        text-decoration: none;
    }
    .op-code {
        font-family: 'novecento', Arial, serif;
        font-size: 4vw;

        @media (min-width: 1024px) {
            font-size: 20px;
        }
    }
    .op-tag {
        margin-right: 1em;
        font-size: 1em;
        vertical-align: top;
        line-height: 2.4;
        text-transform: uppercase;

        @media (min-width: 1024px) {
            font-size: 0.6em;
        }
    }
    .op-name {
        display: block;
        margin-bottom: 1em;
        line-height: 1;
        font-size: 3vw;

        @media (min-width: 1024px) {
            font-size: 20px;
        }
    }
}

@keyframes grow-right {
    from {
        width: 0;
    }
    to {
        width: 50px;
    }
}
