.carousel .slide.selected {
    z-index: 0 !important;
}

.carousel.carousel-slider::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    z-index: -2;
}

.carousel .carousel-status {
    position: fixed;
    padding: 0;
    left: 0;
    top: auto;
    bottom: 0;
    width: 100vw;
}

.carousel .control-dots {
    top: 0;
    bottom: 50px;
    right: 0;
    overflow-y: scroll;
    margin: 0;
    list-style: decimal;
    text-align: left;
    max-width: 25vw;
    width: auto;
    font-family: sans-serif;
    font-size: 14px;
    color: #fff;
    z-index: 3;

    li {
        border-bottom: 1px solid #666f;

        &:hover {
            background: #6666;
        }
        &.active {
            background: #6669;

            button {
                cursor: default;
            }
        }
    }

    a {
        display: block;
        padding: 10px;
        background: none;
        color: inherit;
        white-space: nowrap;
        text-decoration: none;
    }
}
