@font-face {
    font-family: 'trajanpro';
    font-style: normal;
    font-weight: normal;
    src: local('Trajan Pro Regular'),
    local('trajanpro-regular'),
    url('trajanpro-regular.woff2') format('woff2'),
    url('trajanpro-regular.woff') format('woff');
}

@font-face {
    font-family: 'nubernext';
    src: local('nubernextcondensed-demibold'),
    url('nubernextcondensed-demibold.woff2') format('woff2'),
    url('nubernextcondensed-demibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novecento';
    src: local('novecento_widemedium'),
    url('novecento_widemedium.woff2') format('woff2'),
    url('novecento_widemedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-medium: 1rem;
    --font-large: 1.5rem;
}

body {
    font-family: 'nubernext', Arial, serif;
    background: #ccc;
    font-size: 20px;
}
