code {
    display: block;
    color: #aaa;
    font-size: 0.7rem;
    z-index: 3;
}

.dialog-debug {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    font-family: sans-serif;
    font-size: 14px;
    color: #fff;
    z-index: 3;
}

.dialog-debug-delay {
    margin-left: 40px;
    line-height: 2;
    span {
        color: #1ea7fd;
    }
}

.dialog-timeline {
    margin: 0;
    height: 100%;
    overflow: scroll;

    a {
        display: block;
        padding: 10px;
        line-height: 0.5;
        background: none;
        color: inherit;
        white-space: nowrap;
    }
}

.dialog-timeline-scene {
    background: #6666;
    border-bottom: 1px solid #666f;

    &:hover {
        background: #6669;
    }
    &.active {
        background: #666f;

        button {
            cursor: default;
        }
    }
}
