.dialog {
    position: relative;
    border: 1px dashed #999;
}

.dialog-buttons {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
}

.dialog-button {
    color: #fff;
    border: 1px dashed #fff;
}

.dialog-debug {
    position: absolute;
    top: 0;
    right: 0;
    font-family: sans-serif;
    font-size: 14px;
    color: #fff;
}

.dialog-debug-delay {
    margin-left: 40px;
    line-height: 2;
    span {
        color: #1ea7fd;
    }
}

.dialog-timeline {
    margin: 0;
    button {
        display: block;
        background: none;
        border: none;
        line-height: 0.5;
        color: inherit;
        cursor: pointer;
    }
}

.dialog-timeline-scene {
    background: #6666;
    border-bottom: 1px solid #666f;

    &:hover {
        background: #6669;
    }
    &.active {
        background: #666f;

        button {
            cursor: default;
        }
    }
}

.dialog-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
}


.dialog-dark {
    background-color: #000;
}

.dialog-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
    z-index: -1;
}

.dialog-char {
    img {
        position: absolute;
    }
}

.dialog-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    gap: 4em;
    padding: 2em 0 6em;
    color: #fff;
    background: linear-gradient(to top, #000 40%, transparent);

    p {
        margin-top: 0;
        font-size: 40px;
    }

    code {
        position: absolute;
        bottom: 0;
    }
}

.dialog-name {
    width: 25.7vw;
    line-height: 60px;
    font-size: 45px;
    color: #888;
    text-align: right;
}

.dialog-blocker {
    width: 100%;
    height: 100%;
    opacity: 1;
    animation: fade-out 0s;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
