.main-header {
    position: fixed;
    display: flex;
    align-items: baseline;
    height: 80px;
    width: 100%;
    justify-content: center;
    background: #ccc;
    cursor: default;
    z-index: 3;
    /*filter: blur(0);*/
    /*transform: scaleX(1);*/


    svg {
        height: calc(100% - 21px);
        margin-top: 20px;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100%;
        background: linear-gradient(to right, transparent, #0006, transparent);
        animation: widen 1.5s ease-in;
    }
}

.logo-title {
    font-family: 'trajanpro', Arial, serif;
    font-size: 60px;
    font-weight: normal;
    letter-spacing: -7.7px;
    text-transform: lowercase;
    mask: linear-gradient(to right, #fff, #fff, #0000) no-repeat;
    mask-size: 200%;
    animation: left-to-right-fade-in 2s ease-out;
    /*-webkit-mask-size: 0%;*/
    /*mask-image: linear-gradient(*/
    /*        to right,*/
    /*        rgba(0, 0, 0, 1) 70%,*/
    /*        rgba(0, 0, 0, 0) 100%*/
    /*);*/
}

@keyframes widen {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes left-to-right-fade-in {
    0% {
        mask-size: 0%;
        /*mask-position: left;*/
    }
    100% {
        mask-size: 200%;
        /*mask-image: linear-gradient(to right, #000f 0%, #0000 100%);*/
        /*mask-position: right;*/
    }
}
