button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding-left: 0;
}

.story-types {
    display: flex;
    justify-content: space-between;
}

.story-type-button {
    position: relative;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;

    .active &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 25px;
        border-style: solid;
        border-width: 17px 10px 0 10px;
        border-color: #fff transparent transparent transparent;
    }
}
.story-type-icon {
    position: absolute;
    filter: invert(1);
    z-index: -1;
    opacity: 0.6;

    .active & {
        transform: scale(2);
        opacity: 0.1;
        transition:
                transform 0.08s ease-out,
                opacity 0.15s ease-out 0.03s;
    }
}
.story-type-name {
    font-size: var(--font-large);
    color: #fff;
    opacity: 0;
    white-space: nowrap;
    text-shadow:
            0 -5px 25px #000,
            0 -5px 25px #000;

    .active & {
        opacity: 1;
    }
}

.story-menu {
    display: flex;
}

.stories {
    flex-basis: 600px;
    font-size: var(--font-medium);

    li {
        line-height: 6rem;
    }
    li.active {
        font-size: var(--font-large);
        transition: font-size 0.2s;
    }
}

.operations {
    flex-basis: auto;
}

.op-code {
    font-family: 'novecento', Arial, serif;
}
