button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding-left: 0;
}

.story-types {
    display: flex;
    justify-content: space-around;
}

.story-type-button {
    position: relative;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;

    .active &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 25px;
        border-style: solid;
        border-width: 17px 10px 0 10px;
        border-color: #fff transparent transparent transparent;
    }
}
.story-type-icon {
    position: absolute;
    filter: invert(1);
    z-index: -1;
    opacity: 0.6;

    .active & {
        transform: scale(2);
        opacity: 0.1;
        transition:
                transform 0.08s ease-out,
                opacity 0.15s ease-out 0.03s;
    }
}
.story-type-name {
    font-size: var(--font-large);
    color: #fff;
    opacity: 0;
    white-space: nowrap;
    text-shadow:
            0 -5px 25px #000,
            0 -5px 25px #000;

    .active & {
        opacity: 1;
    }
}

.story-menu {
    display: flex;
}

.stories {
    position: relative;
    flex-basis: 600px;
    font-size: var(--font-medium);

    &::before {
        content: '';
        position: absolute;
        top: 6px;
        left: 87px;
        width: 18px;
        height: 18px;
        background: #aaa;
    }
    &::after {
        content: '';
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 94px;
        width: 3px;
        background: #aaa;
        z-index: -1;
    }

    li {
        position: relative;
        line-height: 6rem;
        margin-left: 90px;

        &::before {
            content: '';
            position: absolute;
            top: calc(50% - 8px);
            left: 0;
            width: 11px;
            height: 11px;
            border: 3px solid #000;
            background: #ccc;
        }

        &::after {
            content: '';
            position: absolute;
            top: calc(50% - 4px);
            left: 10px;
            height: 3px;
            width: 100%;
            background: linear-gradient(to right, #000, transparent 30px);
        }

        &.active {
            font-size: var(--font-large);
            transition: font-size 0.2s;

            &::before {
                border-width: 12px;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                left: -10px;
                top: calc(50% - 17px);
            }
        }
    }
    .story-button {
        margin-left: 30px;
    }
}

.operations {
    flex-basis: auto;
}

.op-code {
    font-family: 'novecento', Arial, serif;
}
