.main-header {
    position: fixed;
    height: 60px;
    width: 100%;
    background: #ccc;
    z-index: 3;

    @media screen and (min-width: 1024px) {
        height: 80px;
    }

    > a {
        display: flex;
        height: 100%;
        align-items: baseline;
        justify-content: center;
        text-decoration: none;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            height: 1px;
            width: 0;
            background: linear-gradient(to right, transparent, #0006, transparent);
            animation: widen 1.5s ease-out 0.5s forwards;
        }
    }

    svg {
        height: calc(100% - 11px);
        margin-top: 10px;
        width: 70px;

        @media screen and (min-width: 1024px) {
            height: calc(100% - 21px);
            margin-top: 20px;
            width: auto;
        }
    }

}

.logo-title {
    font-family: 'trajanpro', Arial, serif;
    font-size: 45px;
    font-weight: normal;
    letter-spacing: -3px;
    text-transform: lowercase;
    white-space: nowrap;
    mask: linear-gradient(to right, #fff, #fff, #0000) no-repeat;
    mask-size: 200%;
    mask-clip: no-clip;
    animation: left-to-right-fade-in 2s ease-out;

    @media screen and (min-width: 1024px) {
        font-size: 60px;
        letter-spacing: -7.7px;
    }
}

@keyframes widen {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes left-to-right-fade-in {
    0% {
        mask-size: 0;
    }
    100% {
        mask-size: 200%;
    }
}
