.main-header {
    --header-bottom-spacing: 40px;
    --header-bottom-spacing--md: 20px;
    position: relative;
    height: calc(110px + var(--header-bottom-spacing));
    width: 100%;
    background: linear-gradient(to bottom, #cccf, #cccf 110px, #ccc0 100%);
    z-index: 3;

    @media screen and (min-width: 1024px) {
        height: calc(80px + var(--header-bottom-spacing--md));
    }

    > a {
        display: flex;
        padding-bottom: var(--header-bottom-spacing);
        height: 100%;
        align-items: baseline;
        justify-content: center;
        text-decoration: none;

        &::after {
            content: '';
            position: absolute;
            bottom: var(--header-bottom-spacing);
            height: 1px;
            width: 0;
            background: linear-gradient(to right, transparent, #0006, transparent);
            animation: widen 1.5s ease-out 0.5s forwards;
        }
    }

    --logo-margin-top: 50px;
    --logo-margin-top--md: 20px;
    svg {
        height: calc(100% - 1px - var(--logo-margin-top));
        margin-top: var(--logo-margin-top);
        width: 70px;

        @media screen and (min-width: 1024px) {
            height: calc(100% - 1px - var(--logo-margin-top--md));
            margin-top: var(--logo-margin-top--md);
            width: auto;
        }
    }

}

.logo-title {
    font-family: 'trajanpro', Arial, serif;
    font-size: 45px;
    font-weight: normal;
    letter-spacing: -3px;
    text-transform: lowercase;
    white-space: nowrap;
    mask: linear-gradient(to right, #fff, #fff, #0000) no-repeat;
    mask-size: 200%;
    mask-clip: no-clip;
    animation: left-to-right-fade-in 2s ease-out;

    @media screen and (min-width: 1024px) {
        font-size: 60px;
        letter-spacing: -7.7px;
    }
}

@keyframes widen {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes left-to-right-fade-in {
    0% {
        mask-size: 0;
    }
    100% {
        mask-size: 200%;
    }
}
